@charset "UTF-8";


@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		/* Retorna a visibilidade padrão. */
		display: block;
	}

	#openMenu {
		/* Espaço a esquerda será preenchido automaticamente
		   colocando os itens a direita. */
		margin-left: auto;
	}

	#closeMenu {
		/* Torna a posição do elemento fixa. */
		position: fixed;

		/* Dispõe o elemento a 15px da esquerda. */
		right: 15px;

		/* Dispõe o elemento a 15px do topo. */
		top: 15px;
	}

	header {
		/* Ordem da visualização dos elementos. */
		order: 0;
	}

	nav {
		/* Ordem da visualização dos elementos. */
		order: 1;

		/* Torna a posição do elemento fixa. */
		position: fixed;

		/* Ocupa 100% da largura da tela de exibição. */
		width: 100vw;

		/* Ocupa 100% da altura da tela de exibição. */
		height: 100vh;

		/* Cor em RGB, mais transparência. */
		background: rgba(255, 255, 255, 0.8);

		/* Dispõe os itens em coluna. */
		flex-direction: column;

		/* Alinha os itens na horizontal. */
		align-items: center;

		/* Alinha os itens na vertical. */
		justify-content: center;

		/* Remove a margem externa de todos os lados do elemento. */
		margin: 0;

		/* Oculta o elemento. */
		display: none;

		/* Invisivel */
		opacity: 0;

		/* Velocidade de transição de um estado para outro. */
		transition: 0.3s;
	}

	nav a {
		/* Margem de todos os lados. */
		margin: 3%;
	}

	main {
		/* Ordem da visualização dos elementos. */
		order: 2;

		/* Realizar a subtração de 100% da altura vertical menos a soma    */
		/* da altura dos elementos ( 300px ) com as suas margens ( 30px ). */
		height: calc(100vh - 330px);
	}

	aside {
		/* Ordem da visualização dos elementos. */
		order: 3;

		/* Altura do elemento. */
		height: 100px;
	}

	footer {
		/* Ordem da visualização dos elementos. */
		order: 4;
	}
}